/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 16px;
}

h4 {
    /*Rajouté moi même , pour filtres, afficher plus et le footer*/
    color: black;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    word-wrap: break-word
}


:root {
    --filter-bg-color: #DEEBFF;
}

.iconebleue {
    color: #0065FC;
    /* changé var main color de :root en color simple*/
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: #F2F2F2;
    /* changé var main color de :root en color simple*/
}

.card-rating {
    margin-bottom: 5px;
}


/**** HEADER ****/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lienheader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
    display: flex;
    padding-bottom: 30px;
}

.traitbleu {
    color: #0065FC;
    border-top: 2px solid#0065FC;
    padding-top: 15px;
}

.traitphone {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

/**** Infogroup***/

.infogroup {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

h1 {
    color: black;
    font-size: 22px;
    font-family: Raleway;
    font-weight: 700;
}

.h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    /*Pas de gap en responsive + bouton devient une icon loupe*/
    height: 49px;
    width: 377px;
    border: 1px solid #F2F2F2;
    border-radius: 21px;

}

.boite-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fa-location-dot {
    color: black;
}

form {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    gap: 24px
}

input {
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    height: 49px;
    width: 140px;
    border: none;
    outline: none;
    /* Supprime le contour lorsque l'élément est en focus */
    /*supprimer la petite croix askip */
    appearance: none;
}

.bouton {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    height: 49px;
    width: 140px;
    border: none;
    outline: none;
}

.bouton2 {
    display: none;
}

.filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.couple-filtre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.couple-filtre div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 30px;
    border: 2px #D9D9D9 solid;
    color: black;
    font-size: 17px;
    font-family: Raleway;
    font-weight: 700;
}

.filtres i,
.fa-location-dot {
    font-size: 20px;
}

.filtres-hover:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 25px;
}

.info div {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info {
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    /*A VOIR SI CA MARCHE POUR LE RESPONSIVE*/
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: #F2F2F2;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/***Premiere ligne***/

.hebergements-cards-un {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.hebergements-cards-un .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.hebergements-cards-un img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards-un .card-content {
    width: 100%;
    padding-left: 15px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/***Deuxieme ligne***/

.hebergements-cards-deux {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.hebergements-cards-deux .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.hebergements-cards-deux img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards-deux .card-content {
    width: 100%;
    padding-left: 15px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    background-color: #F2F2F2;
    width: 32%;
    display: flex;
    flex-direction: column;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/****** Activités ***********/
.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 439px;
    padding: 0px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding: 20px;

}

/****** Footer ************/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
}

footer div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    width: 33%;
}

footer div ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    justify-self: flex-start;
    padding-left: 0px;
}


                                        /* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

                                        /* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .activites-cards .card {
        height: auto;
    }

    .activites-cards img {
        height: 200px;
    }

}

                                            /* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    .main-container {
        padding: 0px;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .lienheader {
        flex-direction: row;
        justify-content: space-around;
        display: flex;
        width: 100%;
        padding-bottom: 15px;
        gap: 0px;
    }

    .traitbleu {
        border-top: none;
    }

    .traitphone {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 2px;
        background-color: #F2F2F2;
    }

    .traitphone .bleu {
        width: 50%;
        background-color: #0065FC;
        height: 2px;
    }

    .infogroup {
        width: auto;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 35px;
        display: inline-flex;
        margin-top: 30px;
        margin-bottom: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    form {
        width: 100%;
    }

    .searchbar {
        width: 100%;
    }
    
    .bouton2 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: #0065FC;
        color: white;
        cursor: pointer;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 700;
        height: 49px;
        width: 49px;
        border: none;
        outline: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }
    
    .bouton {
        display: none;
    }

    .h1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        padding-right: 30px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        height: 100%;
        width: 100%;
    }

    .couple-filtre {
        width: 100%;
    }

    .couple-filtre div {
        width: 100%;
    }

    .info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        height: 25px;
        width: 90%;
    }

    .info div {
        width: 25px;
    }


    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /*A VOIR SI CA MARCHE POUR LE RESPONSIVE*/
    }

    .hebergements-and-populaires section {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        box-sizing: border-box;
        border-radius: 0px;
    }

    /****** Populaires ***********/

    .populaires {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
    }

    /***Premiere ligne***/

    .hebergements-cards-un {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
    }

    .hebergements-cards-un .card {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    /***Deuxieme ligne***/

    .hebergements-cards-deux {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
    }

    .hebergements-cards-deux .card {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    /****** Activités ***********/

    .activites {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
    }

    .activites-cards .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        /*jai change la taille de l'image de moitie + reduit celle de la card*/
        padding: 0px;
    }

    .activites-cards img {
        width: 100%;
        height: 141px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /****** Footer ************/

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #F2F2F2;
    }

    footer div {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 15px;
        width: 100%;
    }

    footer div ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style-type: none;
        justify-self: flex-start;
        padding-left: 0px;
    }

}